body{
  color: black;
  background-color: pink;
  font-family: times;
}

 div {min-height: 10vh;
      width: 100vw;
}

 h1, h2 {
           text-align: center;
 }

 h1 {
        font-size: 4em;
 }

 h2 {
        font-size: 2.5em;
 }

img {
        display: flex;
        padding: 20px
    margin: 0 auto;
        border-radius: 130px;
}

p {
       width: 40%
       margin: 10vh 10vw;
       font-size: 1.2em;
}

a {
       colour: purple;
}

li#lower {
         margin-top: 7%;
}

li#lowest {
          margin-top: 14%;
}
